# Email Configuration
EMAIL_IMAP_HOST="{192.168.10.26:143/imap}INBOX"
EMAIL_IMAP_USERNAME="artemenko-video"
EMAIL_IMAP_PASSWORD="x2y2z4xxx"
EMAIL_MARK_AS_READ=true
EMAIL_MAX_TEXT_LENGTH=1000
EMAIL_CHECK_INTERVAL=300

ALARM_SUBJECT="Alarm Message" 
# Telegram Configuration
TELEGRAM_BOT_TOKEN="2022450510:AAHbNGWGH7GIf1zCXFM0cB_IHQCKxThzWzk"
TELEGRAM_CHAT_ID="-746088411"
TELEGRAM_PARSE_MODE="HTML"

# Application Configuration
APP_ENV=production
APP_DEBUG=false
LOG_LEVEL=INFO
LOG_CHANNEL="email_parser"

